<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trivse</title>
  <link rel="shortcut icon" href="../../../imgs/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../css/telamain.css">
  <script src="../../../ajax/jQuery.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script src="view.js"></script>


</head>

<body>
  <div class="sidebar collapsed" id="sidebar">
    <div class="logo-content">
        <button class="menu-btn" onclick="toggleMenu()">☰</button>
        <div class="logo">
            <h2>Todos os Professores</h2>
        </div>
        <div></div>
    </div>
    <ul class="nav-list" id="ul">
      <li class="item-menu" id="inicio">
        <a href="../../telamain/telamain.html">
          <span class="icon"><i class="bi bi-house"></i></span>
          <span class="links-name"> Inicio</span>
        </a>
      </li>
      <li class="item-menu" id="add">
        <a href="#">
          <span class="icon"><i class="bi bi-folder-plus"></i></span>
          <span class="links-name">Adcionar pergunta</span>
        </a>
      </li>
      <li class="item-menu" id="view">
        <a href="#">
          <span class="icon"><i class="bi bi-globe-americas"></i></span>
          <span class="links-name">Ver todas as perguntas</span>
        </a>
      </li>
    </ul>
    <li class="logout" id="logout">
      <a href="#"><i class="bi bi-box-arrow-in-left"></i><span class="links-name">Logout</span></a>
    </div>
</div>

<div class="content">
   
</div>
  <div class="title">
  <div class="m-5" id="questoes">
    
    
  </div>
  </div>
</body>

</html>